[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
pytest-django = "*"
pytest-mock = "*"
pytest = "*"
pre-commit = "*"
coverage = "*"
yapf = "*"
ipython = "*"
flake8 = "*"
model-bakery = "*"

[requires]
python_version = "3.10"
